<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11579744412-8ep8sd2buaikt15nlsahrugt34mq26o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11579744412-8ep8sd2buaikt15nlsahrugt34mq26o3</string>
	<key>API_KEY</key>
	<string>AIzaSyBxhkkqiic6MjHBRAfFGfLSOAhDjQCqd2c</string>
	<key>GCM_SENDER_ID</key>
	<string>11579744412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ankur.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>chatapp-1fb1f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-1fb1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11579744412:ios:d1821a6361e157f7cccd59</string>
</dict>
</plist>